.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
}

.card {
    width: 500px;
    height: 550px;
    background-image: linear-gradient(150deg, #071b9b, #ffffff);
    border-radius: 100px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}
/*Це Прикдад*/
/*@media screen and (max-width: 992px) {*/
/*    .cards {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        flex-wrap: wrap;*/
/*        gap: 50px;*/
/*    }*/

/*}*/


img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.card:hover {
    height: 720px;
    box-shadow: 10px 10px 10px 10px crimson;
    transition: 0.5s;
}

.card:hover .text_card {
    margin-top: 300px;
    transition: 0.4s;
}

.blond {
    font-weight: bold;
    font-size: 32px;
}

.text_card{
    margin-top: 48px;
    font-size: 24px;
    width: 100%;
    margin-left: 24px;
}

